<nav class="dt-footer" role="navigation">
    <div class="container">
        <span class="navbar-text">{{ __('Thank you for using') }} <a href="http://gita.org" class="dt-brand">gita</a></span>
        <span class="navbar-text pull-right">Version {{ system.version }}</span>
    </div>
</nav>
