/vendor/
composer.lock
phpunit.xml
/var/*
!/tests/var/cache
/tests/var/cache/*
!/tests/var/cache/.gitkeep
!/tests/var/logs
/tests/var/logs/*
!/tests/var/logs/.gitkeep
!/tests/var/sessions
/tests/var/sessions/*
!/tests/var/sessions/.gitkeep
!/tests/var/storage
/tests/var/storage/*
!/tests/var/storage/.gitkeep
/coverage