<?xml version="1.0" encoding="UTF-8"?>

<!-- http://phpunit.de/manual/4.1/en/appendixes.configuration.html -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.1/phpunit.xsd"
         backupGlobals="false"
         colors="true"
         bootstrap="tests/bootstrap.php"
>
    <php>
        <ini name="error_reporting" value="-1" />
    </php>

    <testsuites>
        <testsuite name="gita Test Suite">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>

    <php>
        <server name="KERNEL_DIR" value="tests" />
        <server name="SYMFONY__VENDOR_DIR" value="%kernel.root_dir%/../vendor" />
        <server name="SYMFONY__SECRET" value="secret" />
        <server name="SYMFONY__ADMIN" value="admin" />
        <server name="SYMFONY__UPLOAD_DIR" value="var/storage" />
        <server name="SYMFONY__MAILER_TRANSPORT" value="smtp" />
        <server name="SYMFONY__MAILER_HOST" value="127.0.0.1" />
        <server name="SYMFONY__MAILER_USER" value="" />
        <server name="SYMFONY__MAILER_PASSWORD" value="" />
        <server name="SYMFONY__MULTILINGUAL" value="false" />
        <server name="SYMFONY__DATABASE_DRIVER" value="pdo_mysql" />
        <server name="SYMFONY__DATABASE_HOST" value="127.0.0.1" />
        <server name="SYMFONY__DATABASE_port" value="" />
        <server name="SYMFONY__DATABASE_USER" value="root" />
        <server name="SYMFONY__DATABASE_PASSWORD" value="" />
        <server name="SYMFONY__DATABASE_NAME" value="symfony" />
        <server name="SYMFONY__DATABASE_TABLE_PREFIX" value="dt_" />
        <server name="SYMFONY__UGLIFYJS_PATH" value="" />
        <server name="SYMFONY__UGLIFYCSS_PATH" value="" />

        <!-- @todo there must be not required a test user param-->
        <server name="SYMFONY__TEST_USER" value="admin" />
    </php>

    <filter>
        <whitelist>
            <directory>./src</directory>
             <exclude>
                <directory>./src/Bundle/*/Resources</directory>
                <directory>./src/System/*/Resources</directory>
                <directory>./src/System/*/*/Resources</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
