/* Footer */
/* ------------------------------- */

.dt-footer {
    background: #ffffff;
    border-top:1px solid #e1e1e1;
    color: #777;
    font-size: 0.9em;
    margin-top: 20px;

    .navbar-text {
        margin: 5px 0;
    }
}
