{% extends "CoreBundle::base.html.twig" %}

{% block content %}
    <div class="container">
        <div class="row dt-cache-toolbar">
            <div class="col-md-8">
                <p>{{ message }}</p>
            </div>
        </div>
    </div>
{% endblock %}
