{% extends 'layout/default.html.twig' %}

{% block content %}
    <section>
    <div class="post">
        <h2>{{ post.title }}</a></h2>
        <div class="meta">
            {% include 'content/blog/post/meta.html.twig' %}
        </div>
        {{ post.content|raw }}
    </div>
    <div class="comments">
        <h4>{{ __('Discussion') }}</h4>
        <section>
            {{ comment(post)|raw }}
        </section>
    </div>
    
    </section>
{% endblock %}