{% autoescape false %}
<ul class="nav">
    {% for item in items %}
        <li><a class="{{item.active}}" href="{{item.link}}">{{item.display_text}}</a>
        	{{item.child}}
        </li>
    {% endfor %}
</ul>
{% endautoescape %}